{
  "global": {
    "deployments": [
      {
        "name": "homolog",
        "branch": "develop",
        "modifier": "-rc"
      },
      {
        "name": "production",
        "branch": "master"
      }
    ]
  },
  "projects": [
    {
      "name": "project name",
      "path": "path to your project"
    }
  ]
}
