{
  "global": {
    "editor": "code -w",
    "googleChatWebhook": "https://your-google-chat/webhook",
    "googleChatTagButtonLink": "https://your-git-service/${tag}",
    "googleChatBuildButtonLink": "https://your-build-service/${tag}",
    "deployments": [
      {
        "name": "homolog",
        "branch": "develop",
        "modifier": "-rc"
      },
      {
        "name": "production",
        "branch": "master"
      }
    ]
  },
  "projects": [
    {
      "name": "project name",
      "path": "path to your project"
    }
  ]
}
